@import "variables";
@import "menu"
#header {
    display: flex;
    font-family: $police;
}

header {
    width: 100%;
}

nav {
    width: 75%;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}