@import "variables";
#header {
    display: flex;
    font-family: $police;
    background-color: $color4;
}

header {
    width: 100%;
}

nav {
    width: 95%;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    width: 100%;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    background-color: $color4;
}