@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
$police: 'Press Start 2P';
$color1: rgb(233,
0,
129);
$color2: rgb(36,
43,
186);
$color3: rgb(199,
48,
229);
$color4: rgb(169,
239,
245);